.burger-button {
   height          : 40px;
   width           : 40px;
   background-color: #fff;
   border-radius   : 26px;
   display         : flex;
   align-items     : center;
   justify-content : center;
   margin-left     : auto;
   transition      : all 0.6s cubic-bezier(.165,.84,.44,1);
   position        : relative;
   z-index         : 200;

   &:hover {
      background-color: #000; 
      cursor          : pointer;

      span {
         background-color: #fff;
      }
   }
}

.burger-button__content {
   height         : 12px;
   width          : 16px;
   display        : flex;
   flex-direction : column;
   justify-content: center;

   span {
      width           : 100%;
      height          : 2px;
      display         : block;
      background-color: #000;
   }
}

.hamb-line-2, 
.hamb-line-3 {
   margin-top: 2.5px;
}
