.logo {
   color   : #fff;
   position: relative;
   z-index : 200 !important;

   span {
      display  : inline-block;
      font-size: 4vw;
      margin   : 0 .5px;
   }

   .reverse-letter {
      transform: rotate(180deg) translateY(-5%) !important;
      
   }
}

.logo_blank-space {
   width: .07rem !important;     
}

